<html>
  <body>
    <img src={{myURL}}>
      <div>
        <table>
          <tr>
            <th>Load ID</th>
            <th>Load Number</th>
            <th>Container Number</th>
            <th>Latitude</th>
            <th>Longitude</th>
          </tr>
            {% for load in all_loads %}
              <tr>
                <td>{{load.pk}}</td>
                <td>{{load.load_number}}</td>
                <td>{{load.container_num}}</td>
                <td>{{load.latitude}}</td>
                <td>{{load.longitude}}</td>
              </tr>
            {% endfor %}
      </div>
  </body>
</html>
